html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.image_status svg path,
svg rect {
	fill: #48D1CC;
}

.flex_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.flex_item {
	display: inline-flex;
}

.notice {
	position: absolute;
	left: 1rem;
	top: 1rem;
}

.notice_text {
	font-size: 0.5rem;
	color: #222;
}

.bottom_style {
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #F0F0F0;
}

.item {
	margin: 0 10px
}

.full {
	width: 100%;
	height: 100%;
	position: relative
}

#image_container {
	display: flex;
	width: 70%;
	margin-left: 15%;
	position: relative;
	min-height: 100px;
	flex-direction: column
}

.image_flex_container {
	display: flex;
	background: url(../img/maldives.jpg) no-repeat center;
	width: 100%;
	height: 90%;
	justify-content: center;
	align-items: center;
	flex-direction: column
}

#banner_full {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap
}

.banner_chip {
	margin: 4
}

.banner_title {
	display: inline-flex;
	color: #FFFFFF;
	font-size: 2.5rem;
	margin-bottom: .5em;
	text-align: center
}

.banner_image_subtitle {
	display: inline-flex;
	color: #FFFFFF;
	margin-bottom: .5em;
	font-weight: normal;
}

.banner_middle_text {
	font-size: 1rem;
	display: inline-flex;
	align-self: center;
	margin-left: 1.5rem;
	font-weight: normal;
}

.top_container {
	background: rgb(190, 200, 200);
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.login_icon {
	display: flex;
	cursor: pointer;
}

/*image List*/

.image_list_container {
	display: flex;
	flex-wrap: wrap;
}

.image_list_container::after {
	content: '';
	flex-grow: 999999999;
}

.itemContainer {
	margin: 2px;
	background-color: violet;
	position: relative;
}

.itemContainer:hover .titleWrapper {
	display: flex;
	bottom: 0;
}

.image_list_container i {
	display: block;
}

.image_list_container img {
	position: absolute;
	top: 0;
	width: 100%;
	vertical-align: bottom;
}

.titleWrapper {
	display: none;
	width: 100%;
	position: absolute;
	height: 35px;
	left: 0;
	z-index: 5;
	-moz-transition: top ease 100ms;
	-o-transition: top ease 100ms;
	-webkit-transition: top ease 100ms;
	transition: top ease 100ms;
	background: rgba(0, 0, 0, .6);
}

.titleWrapper span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #fff;
	padding: 0.5rem;
	line-height: 1rem;
	cursor: pointer;
	margin-right: 45px;
	width: 80%;
}

.title_box {
	width: 100%
}

.title_box .ivu-tooltip {
	width: 100%
}

.title_box .ivu-tooltip .ivu-tooltip-rel {
	width: 100%;
}

.icon_like {
	position: absolute;
	right: 10px;
	top: 5px;
	bottom: 5px;
}


/*image loading Status*/

.image_status {
	display: flex;
	height: 35px;
	align-items: center;
	justify-content: center;
	background-color: #F6F6F6;
}

.image_status:hover {
	cursor: pointer;
	background-color: #E0EEE0;
}


/*image detile*/

#image_detile {
	width: 100%;
	height: 100%;
}


#image_detile .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 76px;
}


#image_detile .imgs {
	background-color: #f6f6f6;
	flex-direction: column;
	padding: 0 10%;
	display: inline-flex;
	flex: 1;
	width: 100%;
	height: 100%;
}

#image_detile img {
	width: 100%;
	margin-top: 16px;
	border: 1px #ffa11a solid;
	border-radius: 8px
}
