html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.image_status svg path,
svg rect {
	fill: #48D1CC;
}

.flex_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.flex_item {
	display: inline-flex;
}

.notice {
	position: absolute;
	left: 1rem;
	top: 1rem;
}

.notice_text {
	font-size: 0.5rem;
	color: #222;
}

.bottom_style {
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #F0F0F0;
}

.item {
	margin: 0 10px
}

.full {
	width: 100%;
	height: 100%;
	position: relative
}

#image_container {
	display: flex;
	width: 70%;
	margin-left: 15%;
	position: relative;
	min-height: 100px;
	flex-direction: column
}

.image_flex_container {
	display: flex;
	background: url(../img/maldives.jpg) no-repeat center;
	width: 100%;
	height: 90%;
	justify-content: center;
	align-items: center;
	flex-direction: column
}

#banner_full {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap
}

.banner_chip {
	margin: 4
}

.banner_title {
	display: inline-flex;
	color: #FFFFFF;
	font-size: 2.5rem;
	margin-bottom: .5em;
	text-align: center
}

.banner_image_subtitle {
	display: inline-flex;
	color: #FFFFFF;
	margin-bottom: .5em;
	font-weight: normal;
}

.banner_middle_text {
	font-size: 1rem;
	display: inline-flex;
	align-self: center;
	margin-left: 1.5rem;
	font-weight: normal;
}

.top_container {
	background: rgb(190, 200, 200);
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.login_icon {
	display: flex;
	cursor: pointer;
}


/*image List*/

.image_list_container {
	display: flex;
	flex-wrap: wrap;
}

.image_list_container::after {
	content: '';
	flex-grow: 999999999;
}

.itemContainer {
	margin: 2px;
	background-color: violet;
	position: relative;
}

.itemContainer:hover .titleWrapper {
	display: flex;
	bottom: 0;
}

.image_list_container i {
	display: block;
}

.image_list_container img {
	position: absolute;
	top: 0;
	width: 100%;
	vertical-align: bottom;
}

.titleWrapper {
	display: none;
	width: 100%;
	position: absolute;
	height: 35px;
	left: 0;
	z-index: 5;
	-moz-transition: top ease 100ms;
	-o-transition: top ease 100ms;
	-webkit-transition: top ease 100ms;
	transition: top ease 100ms;
	background: rgba(0, 0, 0, .6);
}

.titleWrapper span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #fff;
	padding: 0.5rem;
	line-height: 1rem;
	cursor: pointer;
	margin-right: 45px;
	width: 80%;
}

.title_box {
	width: 100%
}

.title_box .ivu-tooltip {
	width: 100%
}

.title_box .ivu-tooltip .ivu-tooltip-rel {
	width: 100%;
}

.icon_like {
	position: absolute;
	right: 10px;
	top: 5px;
	bottom: 5px;
}


/*image loading Status*/

.image_status {
	display: flex;
	height: 35px;
	align-items: center;
	justify-content: center;
	background-color: #F6F6F6;
}

.image_status:hover {
	cursor: pointer;
	background-color: #E0EEE0;
}


/*image detile*/

#image_detile {
	width: 100%;
	height: 100%;
}

#image_detile .bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 16px;
	padding-bottom: 76px;
}

#image_detile .imgs {
	background-color: #f6f6f6;
	flex-direction: column;
	padding: 0 10%;
	display: inline-flex;
	flex: 1;
	width: 100%;
	height: 100%;
}

#image_detile img {
	width: 100%;
	margin-top: 16px;
	border: 1px #ffa11a solid;
	border-radius: 8px
}


/*聊天室*/


/*#div1 {
	display: none;
	font-family: Arial;
	border: 2px solid #379082;
	border-radius: 33px 33px 10px 10px;
	position: fixed;
	text-align: center;
	top: 30%;
	left: 30%;
	min-width: 300px;
	min-height: 385px;
	z-index: 100;
	cursor: *-resize;
}

#chatroom_header {
	width: 100%;
	height: 30px;
	border-radius: 120px 120px 0 0;
	background-color: rgb(111, 185, 230);
	line-height: 30px;
}

#chatroom_header :hover {
	cursor: move;
}

#chatroom_content {
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
}

.chatroom_footer {
	background-color: rgb(195, 221, 236);
	width: 100%;
	padding: 2px;
	border-radius: 0 0 10px 10px;
}*/

#drag {
	position: fixed;
	top: 20%;
	left: 35%;
	width: 300px;
	height: 400px;
	background: rgb(240,246,254);
	border: 1px solid #444;
	border-radius: 5px;
	box-shadow: 0 1px 3px 2px #666;
	z-index: 100;
	display: none;
}

#drag .title {
	position: relative;
	height: 27px;
	margin: 5px;
}

#drag .title h2 {
	font-size: 14px;
	height: 27px;
	line-height: 24px;
	border-bottom: 1px solid #A1B4B0;
}

#drag .title div {
	position: absolute;
	height: 19px;
	top: 2px;
	right: 0;
}

#drag .title a,
a.open {
	float: left;
	width: 21px;
	height: 19px;
	display: block;
	margin-left: 5px;
	background: url(../img/tool.png) no-repeat;
}

a.open {
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -10px;
	background-position: 0 0;
	z-index: 100;
}

a.open:hover {
	background-position: 0 -29px;
}

#drag .title a.min {
	background-position: -29px 0;
}

#drag .title a.min:hover {
	background-position: -29px -29px;
}

#drag .title a.max {
	background-position: -60px 0;
}

#drag .title a.max:hover {
	background-position: -60px -29px;
}

#drag .title a.revert {
	background-position: -149px 0;
	display: none;
}

#drag .title a.revert:hover {
	background-position: -149px -29px;
}

#drag .title a.close {
	background-position: -89px 0;
}

#drag .title a.close:hover {
	background-position: -89px -29px;
}

#drag .content {
	overflow: auto;
	margin: 0 5px;
	width: 280px;
	height: 243px;
}

#drag .inputArea {
	padding: 5px;
	height: 109px;
	border-top: 1px solid #A1B4B0;
 	/*border: 1px 0 0 0 solid #000000;*/
}

#drag .inputArea textarea {
	width: 100%;
	height: 100%;
	background-color: rgb(240,246,254);
	border: 0px solid;
	outline:none;
	resize: none;
	/*overflow: auto;*/
	/*background-attachment: fixed;*/
	/*background-repeat: no-repeat;
	border-style: solid none;
	border-color: #FFFFFF'*/
}

#drag .resizeBR {
	position: absolute;
	width: 14px;
	height: 14px;
	right: 0;
	bottom: 0;
	overflow: hidden;
	cursor: nw-resize;
	/*background: url(./img/resize.png) no-repeat;*/
}

#drag .resizeL,
#drag .resizeT,
#drag .resizeR,
#drag .resizeB,
#drag .resizeLT,
#drag .resizeTR,
#drag .resizeLB {
	position: absolute;
	background: #000;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
}

#drag .resizeL,
#drag .resizeR {
	top: 0;
	width: 5px;
	height: 100%;
	cursor: w-resize;
}

#drag .resizeR {
	right: 0;
}

#drag .resizeT,
#drag .resizeB {
	width: 100%;
	height: 5px;
	cursor: n-resize;
}

#drag .resizeT {
	top: 0;
}

#drag .resizeB {
	bottom: 0;
}

#drag .resizeLT,
#drag .resizeTR,
#drag .resizeLB {
	width: 8px;
	height: 8px;
	background: #FF0;
}

#drag .resizeLT {
	top: 0;
	left: 0;
	cursor: nw-resize;
}

#drag .resizeTR {
	top: 0;
	right: 0;
	cursor: ne-resize;
}

#drag .resizeLB {
	left: 0;
	bottom: 0;
	cursor: ne-resize;
}