<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<!--<link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">-->
		<link rel="stylesheet" type="text/css" href="css/iview.css" />
		<link rel="stylesheet" href="css/Entry.css" />
		<link rel="stylesheet" href="css/style.css" />
		<title>Category</title>
	</head>

	<body>
		<section id="category" class="full">
			<div id="drag" :style="{'display': chatstyle}">
				<div class="title">
					<h2>ChatRoom</h2>
					<div>
						<a class="min" href="javascript:;" title="最小化"></a>
						<a class="max" href="javascript:;" title="最大化"></a>
						<a class="revert" href="javascript:;" title="还原"></a>
						<a class="close" href="javascript:;" title="关闭"></a>
					</div>
				</div>
				<div class="resizeL"></div>
				<div class="resizeT"></div>
				<div class="resizeR"></div>
				<div class="resizeB"></div>
				<div class="resizeLT"></div>
				<div class="resizeTR"></div>
				<div class="resizeBR"></div>
				<div class="resizeLB"></div>
				<div id="drag_content" class="content"></div>
				<div class="inputArea">
					<textarea v-model="chat" @keydown="sendMess($event)"></textarea>
					<!--<i-input type="textarea" v-model="chat" :autosize="{minRows: 3,maxRows: 3}" placeholder="please input something..."></i-input>-->
				</div>
				<i-button class="sendButton" type="primary" @click="ok">send</i-button>
			</div>
			<template v-if="!detile">
				<div id="banner_full">
					<div class="image_flex_container">
						<h1 class="banner_title">welcome to maldives holiday</h1>
						<h3 class="banner_image_subtitle">現在の人数: {{onlineCount}}</h3>
						<h3 class="banner_image_subtitle">累計人数: {{dbCount}}</h3>
						<template v-if="self_count">
							<h3 class="banner_image_subtitle">自分タイムズ: {{selfCount}}</h3>
						</template>
					</div>
					<div style="height: 10%; display: flex ">
						<h3 class="banner_middle_text">拯救世界银河小分队的密码花园</h3>
					</div>
				</div>
			</template>
			<div id="affix">
				<Affix>
					<header class="top_container">
						<i-button type="text" @click="back">BACK</i-button>
						<template v-if="login">
							<div class="login_icon" @click="login_click">
								<Tooltip :content="login_user" placement="bottom-end">
									<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
										<path d="M9 11.75c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zm6 0c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8 0-.29.02-.58.05-.86 2.36-1.05 4.23-2.98 5.21-5.37C11.07 8.33 14.05 10 17.42 10c.78 0 1.53-.09 2.25-.26.21.71.33 1.47.33 2.26 0 4.41-3.59 8-8 8z" />
										<path d="M0 0h24v24H0z" fill="none" />
									</svg>
								</Tooltip>
							</div>
						</template>
						<template v-else>
							<div class="login_icon" @click="login_click">
								<Tooltip content="click to login" placement="bottom-end">
									<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
										<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" />
										<path d="M0 0h24v24H0z" fill="none" />
									</svg>
								</Tooltip>
							</div>
						</template>
					</header>
				</Affix>
			</div>
			<Modal v-model="signin" title="sign in and sign up" width="300">
				<template v-if="!signup">
					<div>
						<i-form ref="signinForm" :model="signinForm" :rules="ruleInline">
							<Form-Item prop="username">
								<i-input type="text" v-model="signinForm.username" placeholder="Username or mail">
									<Icon type="ios-person-outline" slot="prepend"></Icon>
								</i-input>
							</Form-Item>
							<Form-Item prop="password">
								<i-input type="password" v-model="signinForm.password" placeholder="Password">
									<Icon type="ios-locked-outline" slot="prepend"></Icon>
								</i-input>
							</Form-Item>
						</i-form>
					</div>
				</template>
				<template v-else>
					<div>
						<i-form ref="signupForm" :model="signupForm" :rules="ruleInSignup">
							<Form-Item prop="signusername">
								<i-input type="text" v-model="signupForm.signusername" placeholder="Username">
									<Icon type="ios-person-outline" slot="prepend"></Icon>
								</i-input>
							</Form-Item>
							<Form-Item prop="signpassword">
								<i-input type="password" v-model="signupForm.signpassword" placeholder="Password">
									<Icon type="ios-locked-outline" slot="prepend"></Icon>
								</i-input>
							</Form-Item>
							<Form-Item prop="mail">
								<i-input type="text" v-model="signupForm.mail" placeholder="mail">
									<Icon type="ios-email-outline" slot="prepend"></Icon>
								</i-input>
							</Form-Item>
						</i-form>
					</div>
				</template>
				<div slot="footer">
					<!--<div style="width: 120px;">-->
					<i-button size="large" type="primary" @click="signin_click('signinForm')">Signin</i-button>
					<!--</div>-->
					<!--<div style="width: 120px;">-->
					<i-button size="large" type="primary" @click="signup_click('signupForm')">Signup</i-button>
					<!--</div>-->
				</div>
			</Modal>
			<template v-if="!detile">
				<div id="image_container" :style="{marginLeft: totalLeft,'width': totalWidth}">
					<section class="image_list_container">
						<div v-for="(imgs, index) in pic" @click="imageclick(imgs.listId)" :key="imgs" :prop="'pic.' + index + '.value'" class="itemContainer" :style="{'width': imgs.aspectRatioWidth,'flexGrow': imgs.aspectRatioFlex }">
							<i :style="{'paddingBottom': imgs.ipadding}"></i>
							<img :src="imgs.imgurl" :alt="imgs.listId" />
							<div class="titleWrapper">
								<div class="title_box">
									<Tooltip :content="imgs.title" placement="top-start">
										<span>{{imgs.title}}</span>
									</Tooltip>
								</div>
								<div class="icon_like" @click="iconClick($event,index)">
									<template v-if="imgs.icon">
										<Tooltip content="喜欢" placement="top">
											<!--<Icon type="ios-heart-outline" size="30" style="cursor: pointer" color="#F0F0F0"></Icon>-->
											<svg fill="#F0F0F0" height="24" style="cursor: pointer" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
												<path d="M0 0h24v24H0z" fill="none" />
												<path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
											</svg>
										</Tooltip>
									</template>
									<template v-else>
										<Tooltip content="不喜欢了" placement="top">
											<!--<Icon type="ios-heart" size="30" style="cursor: pointer" color="#778899"></Icon>-->
											<svg fill="#778899" height="24" style="cursor: pointer" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
												<path d="M0 0h24v24H0z" fill="none" />
												<path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
											</svg>
										</Tooltip>
									</template>
								</div>
							</div>
						</div>
					</section>
					<template v-if="status==='loaded'">
						<div class="image_status" @click="load">
							加载更多
						</div>
					</template>
					<template v-if="status==='nomore'">
						<div class="image_status" @click="load">
							没有更多了！
						</div>
					</template>
					<template v-if="status==='loading'">
						<div class="image_status">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
								<rect x="0" y="0" width="4" height="10" fill="#333" transform="translate(0 15.1665)">
									<animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0" dur="0.6s" repeatCount="indefinite"></animateTransform>
								</rect>
								<rect x="10" y="0" width="4" height="10" fill="#333" transform="translate(0 11.5002)">
									<animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.2s" dur="0.6s" repeatCount="indefinite"></animateTransform>
								</rect>
								<rect x="20" y="0" width="4" height="10" fill="#333" transform="translate(0 1.83315)">
									<animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.4s" dur="0.6s" repeatCount="indefinite"></animateTransform>
								</rect>
							</svg>
						</div>
					</template>
					<!--<DrawMenu />-->
				</div>
			</template>
			<div style="position: absolute;right: 15px;cursor: pointer;" @click="chatroom">
				<Affix :offset-bottom="60">
					<Badge :count="chatCount">
						<svg fill="#000000" height="35" viewBox="0 0 24 24" width="35" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM9 11H7V9h2v2zm4 0h-2V9h2v2zm4 0h-2V9h2v2z" />
							<path d="M0 0h24v24H0z" fill="none" />
						</svg>
					</Badge>
				</Affix>
			</div>
			<div style="position: absolute;right: 15px;cursor: pointer;" @click="menu_show">
				<Affix :offset-bottom="10">
					<template v-if="menu">
						<svg fill="#000000" height="35" viewBox="0 0 24 24" width="35" xmlns="http://www.w3.org/2000/svg">
							<path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z" />
							<path d="M0 0h24v24H0z" fill="none" />
						</svg>
					</template>
					<template v-else>
						<svg fill="#000000" height="35" viewBox="0 0 24 24" width="35" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none" />
							<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
						</svg>
					</template>
				</Affix>
			</div>
			<template v-if="detile">
				<div id="image_detile">
					<section class="imgs">
						<div v-for="(list, index) in lists" :key="list" :prop="'lists.' + index + '.value'">
							<img :src="list.imgurl" :alt="list.id" />
							<br />
						</div>
						<div class="bottom">
							登陆之后可以查看更多哦!
						</div>
					</section>
					<div class="bottom_style">
						<section class="container">
							<span class="item">CopyRight</span>
							<span class="item">github</span>
							<span class="item">version</span>
							<span class="item">contact</span>
						</section>
					</div>
				</div>
			</template>
		</section>
	</body>
	<!--<script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>-->
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/iview.min.js"></script>
	<!--<script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>-->
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/stomp.min.js"></script>
	<script type="text/javascript" src="js/js.cookie.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/category.js"></script>
	<script type="text/javascript" src="js/chatroom.js" ></script>

</html>